body {
  margin: 2em;
  background-color: #eceff4;
  color: #434c5e;
  font-size: 18pt;
  font-family: "Segoe UI Semilight", sans-serif;
}

.content {
  max-width: 720px;
  margin: auto;
}

.hidden {
  color: #d8dee9;
}

h1 {
  color: #5e81ac;
  font-size: 60pt;
  font-weight: Normal;
  margin-bottom: -0.4em;
}

.subtitle {
  color: #4c566a;
}

hr {
  color: #81a1c1;
}

h2 {
  color: #5e81ac;
}

#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#nav ul li {
  display: block;
  float: left;
}

#carousel {
  text-align: center;
}

a {
  color: #5e81ac;
  text-decoration: none;
  margin-right: 1em;
}

a:hover {
  color: #81a1c1;
}
